# 🔐 Environment variables (NEVER upload secrets)
.env

# 🐍 Python virtual environment
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# 📦 Installed packages
*.egg-info/
dist/
build/

# 🧪 Logs (useful for your Suricata later)
*.log

# 💻 VSCode settings
.vscode/

# 🐧 OS files
.DS_Store
Thumbs.db