suricata_logs/
cache_ml_ready.pkl
cache_human_readable.pkl
cache_outliers.pkl
cache_exemplars.pkl

exemplars_checkpoint.pkl
exemplars_checkpoint.pkl.tmp
outliers_checkpoint.pkl
outliers_checkpoint.pkl.tmp
robust_scaler.pkl

__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
ml_env/
.ipynb_checkpoints/

*.csv